<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="/movies">Back to list movies</a>
    <form action="/movies/edit/<%= result.id %>" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= result.name %>">
        </div>

        <div>
            <label for="releasedYear">Released Year</label>
            <input type="text" name="releasedYear" id="releasedYear" value="<%= result.releasedYear %>">
        </div>

        <div>
            <label for="genre">Genre</label>
            <select name="genre" id="genre" id="genre">
                <option value=""></option>
                <option value="animasi" <%= result.genre === 'animasi' ? 'selected' : '' %>>animation</option>
                <option value="comedy" <%= result.genre === 'comedy' ? 'selected' : '' %>>comedy</option>
                <option value="drama" <%= result.genre === 'drama' ? 'selected' : '' %>>drama</option>
                <option value="horor" <%= result.genre === 'horor' ? 'selected' : '' %>>horor</option>
                <option value="religi" <%= result.genre === 'religi' ? 'selected' : '' %>>religious</option>
                <option value="thriller" <%= result.genre === 'thriller' ? 'selected' : '' %>>thriller</option>
            </select>
        </div>
        
        
        <div>
            <label for="production_id">Production House</label>
            <select name="production_id" id="production_id" id="production_id">
                <% if (!result.ProductionHouseId) { %>
                <option value="">>--SELECT--<</option>
                <% dataProductionHouse.forEach(data => { %>
                <option value="<%= data.id %>"><%= data.production_name %></option>
                <% }) %>
                <% } %>

                <% dataProductionHouse.forEach(data => { %>

                <% if(data.id === result.production_id) { %>
                <option value="<%= data.id %>" selected><%= data.production_name %></option>
                <% } %>

                <% }) %>
            </select>
        </div>
       

        <button type="submit">update</button>
    </form>
</body>

</html>